@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
  position: relative;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.page-one-wrapper {
  height: 960px;
  background: url("tent_platform.jpg") no-repeat center;
  background-size: cover;
  z-index: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.welcome {
  color: white;
  font-size: 1.5em;
  width: 50vw;
  margin: 4em 0 0 1em;
  z-index: 0;
}

.p1-welcome {
  font-size: 1.1em;
}

.page-two-wrapper {
  height: 960px;
  background: url("tent_platform3.jpg") no-repeat center;
  background-size: cover;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.favorites {
  font-size: 1.5em;
  width: 60vw;
  margin: 2.5em 0 0 0;
  padding: .5em .5em 0 1em;
  color: #fff;
}

.favorites h1 {
  margin: 0;
}

.favorites p {
  margin-left: 0;
  background: rgba(39, 33, 33, 0.5);
  border-radius: 10px;
  padding: .5em 0 .5em .5em;
}

.to-do {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.activity {
  background: rgba(39, 33, 33, 0.5);
  border-radius: 10px;
  margin: 0 0 .4em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.list-heading {
  color: #fff;
  font-weight: bold;
}

.activity-list {
  margin: .2em 0 .3em 0;;
  padding: 0 .75em;
}

.list-heading {
  margin: .3em 0 .3em 0;;
  padding: 0 .75em;
}

.activity-list li {
  margin-left: .5em;
  font-size: .8em;
}

.activity-list a {
  color: #fff;
}

.page-three-wrapper {
  height: 960px;
  background: url("tent_platform4.jpg") no-repeat center;
  background-size: cover;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  margin: 4.5em 1em 0 1em;
  background: rgba(219, 219, 226, .6);
  padding-left: .5em;
  border-radius: 1em;
}

.included-wrapper,
.bring-wrapper,
.expectations-wrapper {
  margin: .5em 1em 0 1em;
  background: rgba(219, 219, 226, .5);
  padding: 0 .5em 0 .5em;
  border-radius: 1em;
}

.page-three-wrapper h2 {
  margin: 0;
  padding-top: .5em;
}

.page-three-wrapper li {
  list-style: square inside;
}

.page-four-wrapper {
  background: rgb(196, 163, 104);
  height: 960px;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.directions {
  height: 30vh;
  margin: 5em 1em 0 1em;
  padding-top: 2em;
}

.email-address {
  font-weight: bold;
}

iframe {
  height: 75vh;
  width: 100%;
}