@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
  position: relative;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.page-one-wrapper {
  height: 960px;
  background: url("tent_platform.jpg") no-repeat center;
  background-size: cover;
  z-index: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.welcome {
  color: white;
  font-size: 1.5em;
  width: 50vw;
  margin: 4em 0 0 1em;
  z-index: 0;
}

.p1-welcome {
  font-size: 1.1em;
}

.page-two-wrapper {
  color: #fff;
  height: 960px;
  background: url("tent_platform2.jpg") no-repeat center;
  background-size: cover;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.favorites {
  color: #fff;
  font-size: 1.5em;
  width: 50vw;
  margin: 4em 0 0 1em;
  z-index: 0;
}

.activity {
  color: #fff
}

.page-three-wrapper {
  height: 960px;
  background: url("tent_platform3.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 1em;
}